html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("img/table.png");
    font-family: "Exo 2", sans-serif;
    height: 100vh;
    color: white;
    text-align: center;
}

.top-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

button {
    border: none;
    background-color: yellow;
    padding: 0.25em 1em;
    font-size: 1.2em;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
}

#remaining-card-count {
    margin: 0 1em;
    font-size: 1.1em;
}

#header {
    margin: 5px;
}

.score {
    font-size: 1.2em;
}

#cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.card-slot {
    border: 1px solid black;
    border-radius: 1.2vh;
    width: calc(28vh * 5 / 7);
    height: 28vh;
}

.card {
    height: 100%;
    width: 100%;
    border-radius: 1.5vh;
    box-shadow: 1px 1px 5px black;
}

button:disabled {
    cursor: not-allowed;
}